.page-header{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.page-nav{
  flex:1;
  order: 2;
  display: flex;
  justify-content: flex-end;
}
.page-nav > ul{
  display: inline-flex;
}
.page-nav > ul li{
    background-color: lightgrey;
    padding: 0.4rem;
}
.logo{
  margin: 0.5rem;
  flex:1;
  order: 1;
  display: flex;
}
